{{< core_form/element-template }}
<!-- core_form/element-simplecaptcha hasjs -->
    {{$element}}
        {{{element.html}}}
    {{/element}}
<!-- /core_form/element-simplecaptcha -->
{{/ core_form/element-template }}
{{#js}}
require(['core_form/simplecaptcha'], function(simplecaptcha) {
    simplecaptcha.init();
});
{{/js}}