

<!-- local_vflibs/jqxsimplegauge -->
<script type="text/javascript">
$(document).ready(function () {
    $('#{{name}}').jqxBarGauge({
        colorScheme: "scheme02",
        width: {{width}},
        height: {{height}},
        {{#title}}
        title: {
            text: '{{title}}'{{#subtitle}},
            subtitle: '{{subtitle}}'{{/subtitle}}
        },
        {{/title}}
        values: [{{datalist}}],
        max: {{max}},
        tooltip: {
            visible: true,
            formatFunction: function (value) {
                var realVal = parseInt(value);
                return (realVal);
            },
        },
        animationDuration: {{animationduration}}
    });
});
</script>

<div class="jqw-gauge-container" style="width:{{w}}px; height:{{h}}px;">
<div id="{{name}}" style="overflow:hidden;position:relative;top:{{t}}px;left:{{l}}px"></div>
</div>
<!-- /local_vflibs/jqxsimplegauge -->