
<!-- local_vflibs/jqxswitchbutton -->
<div id="{{name}}"></div>
<script type="text/javascript">
$(document).ready(function () {
    $('#{{name}}').jqxSwitchButton({
        height: {{height}},
        width: {{width}},
        checked: {{initial}}
    });

    $('#{{name}}').on('checked', function(event) {
        {{onchecked}}
    });

    $('#{{name}}').on('unchecked', function (event) {
        {{onunchecked}}
    });
});
</script>
<!-- /local_vflibs/jqxswitchbutton -->