

<!-- local_vflibs/olmapform -->
<form action="/local/vflibs/olmap.php" name="framesend" method="POST" target="mapframe_{{htmlid}}">
<input type="hidden" name="id" value="{{courseid}}" />
<input type="hidden" name="lat" value="{{lat}}" />
<input type="hidden" name="lng" value="{{lng}}" />
<input type="hidden" name="options" value="{{{optionsstr}}}" />
<input type="hidden" name="mapid" value="{{htmlid}}" />
{{#markerdata}}
<input type="hidden" name="markers[]" value="{{data}}" />
{{/markerdata}}
</form>

<iframe id="{{htmlid}}"
    name="mapframe_{{htmlid}}"
    src=""
    width="{{width}}"
    height="{{height}}"
    onload="document.forms['framesend'].submit()">
</iframe>
<!-- /local_vflibs/olmapforms -->